.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.navbar-content button{
    width: 120px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: orange;
    border: 1px solid orange;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-content button:hover{
    background-color: rgb(168, 112, 7);
}